<app-header></app-header>
<div class="content-container">

  <div class="card" (click)="navigateTo('internal')">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbM7o3PZoZeSOevxDBovsk_oo59RPSnEAJWA&s"
      alt="Internal project images"
    /><br><br/>
    <b>Internal Projects</b>
  
  </div>

  <div class="card" (click)="navigateTo('external')">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbM7o3PZoZeSOevxDBovsk_oo59RPSnEAJWA&s"
      alt="External project images"
    /><br><br/>

    <b>External Projects</b>
    
  </div>
</div>
