<app-admin-nav></app-admin-nav>
<div class="content-container">

  <div class="card" (click)="navigateTo('details_add')">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbM7o3PZoZeSOevxDBovsk_oo59RPSnEAJWA&s"
      alt=" project images"
    /><br><br/>
    <b>Add List of Titles and Guides</b>
  </div>

  <div class="card" [routerLink]="'/download'">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbM7o3PZoZeSOevxDBovsk_oo59RPSnEAJWA&s"
      alt="Internal project images"
    /><br><br/>
    <b>Internal Approved List Download</b>
  </div>
  <div class="card" [routerLink]="'/external_download'">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbM7o3PZoZeSOevxDBovsk_oo59RPSnEAJWA&s"
      alt="External project images"
    /><br><br/>
    <b>External Approved List Download</b>
  </div>
  
</div>
