.container{
    margin-top: 60px;
    align-items: center;
    position: relative;
}
.small-container {
    position: relative;

}
.small-container h1{
    position: relative;
    left:500px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


.small-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
}

button {
    height: 40px;
    position: absolute;
    right: 0;
    top: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(168, 211, 237);
}
button:hover{
    color: #f2f2f2;
    background-color: darkslategray;
}

.table-container {
    overflow-x: auto;
    margin: 30px 10px;
    max-width: 100%; 
}
.table-container::-webkit-scrollbar{
    display: none;
}

@media (max-width: 768px) {
    table {
        font-size: 12px;
    }
    .small-container {
        flex-direction: column;
        text-align: center;
    }
    

    th, td {
        padding: 6px;
    }

    .heading h1 {
        font-size: 24px;
    }
    button {
        font-size: 10px;
    }
}

@media (max-width: 576px) {
    table {
        font-size: 10px;
    }
   
    .small-container h1{
        position: relative;
        left:0px;
    }

    .heading h1 {
        font-size: 16px;
    }

    th, td {
        padding: 4px;
    }

    button {
        height: 20px;
       
        margin-right: 10px;
    }
}
